h1{
	font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-size:3em;
	text-align:center;
	color:whitesmoke;
}

h2{
	font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	margin:2em 0;
	font-size:1.5em;
	color:solid black;
}
h4{
	font-size: clamp(1.2rem, 0.72vw, 1.4rem);
    font-weight: bold;
    font-family: "Old Standard TT", Georgia, Times, "Times New Roman", serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 140%;
    text-align: center;
    color: rgb(12, 12, 13);
}
.save h4{
	font-size: 20px;
    text-shadow: 3px 3px 3px #ababab;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .5px;
    line-height: 140%;
    text-align: center;
    color: rgb(42, 26, 110);
}
p{
	font-family: "Century Gothic Paneuropean", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	text-align:center;
	color:#0F2A44;
}
.index-style{
	width: 100%;
	height:530vh;
	background: #ded9e4;
	background-size: cover;
}
.threat-style{
	width: 100%;
	height:460vh;
	background: #ded9e4;
	background-size: cover;
}
.donation-style{
	width: 100%;
	height:200vh;
	background: #ded9e4;
	background-size: cover;
}
.category-style{
	width: 100%;
	height:550vh;
	background: #ded9e4;
	background-size: cover;
}
.save-style{
	width: 100%;
	height:300vh;
	background: #ded9e4;
	background-size: cover;
}
.hr1 {
	border: 0;
	height: 5px;
	background: #095484;
	background-image: linear-gradient(to right, #ccc, #095484, #ccc);
	width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.hr2 {
	border: 0;
	height: 1px;
	background: #16191c;
	width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.paragraph{
	background: #c4b9ed;
    padding: 20px;
    width: 80%;
    line-height: 1.7em;
	margin-left: 150px;
	border-radius: 20px;
	box-shadow: 10px 10px rgb(10, 10, 10);
}

.page{
	width: 80%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color:transparent;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 150px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  form {
    width: 60%;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
 form h2 {
	font-size: 27px;
	text-align: center;
	margin: 0px 0 30px;
  }
 form .form-group {
	margin-bottom: 15px;
	position: relative;
  }
 form label {
	display: block;
	font-size: 15px;
	margin-bottom: 7px;
  }
 form input,
   form select {
	height: 45px;
	padding: 10px;
	width: 100%;
	font-size: 15px;
	outline: none;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #bfbfbf;
  }
 form input:focus,
   form select:focus {
	border-color: #9a9a9a;
  }
 form input.error,
   form select.error {
	border-color: #f91919;
	background: #f9f0f1;
  }
 form small {
	font-size: 14px;
	margin-top: 5px;
	display: block;
	color: #f91919;
  }




.headline {
    width: 100%;
    height: 60vh;
    min-height: 200px;
    background: linear-gradient(rgba(32, 35, 36, 0.3),rgba(0,0,0,0.7)), url('https://i0.wp.com/sevenseasmedia.org/wp-content/uploads/2017/10/turtle-1.jpg?w=1280&ssl=1');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headline h1{
	color: #ccccf3;
	position: absolute;
	display: block;
	margin-left: 50px;
	margin-top: 0;
	font-family:"Old Standard TT", Georgia, Times, "Times New Roman", serif;
	font-size: 4em;
}

.dropdown{
	margin: 10px;
	font-family:'Optima', sans-serif ;
	margin-bottom: 350px;
}	
nav{
	height:50px;
	background: transparent;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.logo{
	padding: 5px 0 0 10px;
	height: auto;
	width: 90px;
	float: left;
	border-radius: 100px;
}
nav ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
}
nav ul li{
	background:transparent;
	position: relative;
	list-style: none;
	display: inline-block;
}
nav ul li a{
	display: block;
	padding: 0 15px;
	color: white;
	text-decoration: none;
	line-height: 50px;
	font-size: 17px;
}
nav ul li a:hover{
	background: #011c39;
}
nav ul ul{
	position: absolute;
	top: 50px;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul li{
	width: 200px;
	float: none;
	display: list-item;
	position: relative;
}

.footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 10px;
	color: #fff;
	background-color: #011c39;
	min-height: 50vh;
}
.footer > *{
	flex: 1 100%;
}
.footer-left{
	margin-right: 1.25em;
	margin-bottom: 0;
}
.footer-left img{
	width: 40%;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 20px;
}
.footer h2{
	font-weight: 600;
	font-size: 17px;
}
.footer ul{
	list-style: none;
	padding-left: 0;
}
.footer li{
	line-height: 2em;

}
.footer a{
	text-decoration: none;
}
.footer-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}
.footer-right > *{
	flex: 1 50%;
	margin-right: 1.25em;
}
.box a{
	color: #999;
}
.footer-bottom{
	text-align: center;
	color: #999;
	padding-top: 50px;
}

.socialIcons a{
	background: #364a62;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 20px;

}
.socialIcons a i{
	color: #e7f2f4;
	padding: 10px 12px;
	font-size: 20px;
}
@media screen and (min-width: 600px){
	.footer-right > *{
		flex: 1;
	}
	.footer-left{
		flex: 1 0px;
	}
	.footer-right{
		flex:2 0px;
	}
}







.container1 h4{
	font-size: clamp(1.2rem, 0.72vw, 1.4rem);
    font-weight: bold;
    font-family: "Century Gothic Paneuropean", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 140%;
    text-align: center;
    color: rgb(50, 40, 40);
}
.container2 h4{
	font-size: clamp(1.2rem, 0.72vw, 1.4rem);
    font-weight: bold;
    font-family: "Century Gothic Paneuropean", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 140%;
    text-align: center;
    color: rgb(50, 40, 40);
}
.container1 img{
	width:800px;
	height:auto;
	display:inline-block;
	padding:0;
	margin:0 auto;
	margin-top: 0;
	margin-left: 0;
}

.container1{
	background: #a4c1d9;
    padding: 20px;
    width: 850px;
    line-height: 1.7em;
	margin-left: 350px;
	border-radius: 20px;
}
.container2{
	background:transparent;
    padding: 20px;
    width: 850px;
    line-height: 1.7em;
	margin-left: 350px;
	box-sizing: border-box;
	box-shadow: #0f100f;
	margin-left: 350px;
}
.container1 ul{
	font-family: "Century Gothic Paneuropean", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.mySlides {
	display: none;
}
.img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.slideshow-container .text {
  color: #0a0a0a;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family:"Century Gothic Paneuropean", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.cover1{
	align-items: center;
	justify-content: center;
	display: flex;
}
.cover3{
	align-items: center;
	justify-content: center;
	display: flex;
}
.cover{
	
	width: 1500px;
	height: 600px;
	/*background: #000;*/
	margin-top: 50px;
	display:flex ;
	margin-left: 0;
	margin-right: 20px;
	border-radius: 10px;
}
.cover2{
	
	width: 1300px;
	height: 750px;
	/*background: #000;*/
	margin-top: 70px;
	display:flex ;
	margin-left: 0;
	margin-right: 10px;
}
.box1{
	margin: 30px;
	width: 900px;
	height: 650px;
	box-shadow: -1px 0 10px #000000;
	align-items: center;
	justify-content: center;
	text-align: center;
	/*background-color: #040904;*/
}
.box1 img{
	width: 450px;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	text-align: center;
}
.box2{
	margin: 50px;
	width: 900px;
	height: 600px;
	box-shadow: -1px 0 10px #000000;
	align-items: center;
	justify-content: center;
	text-align: center;
	/*background-color: #040904;*/
}
.box2 img{
	width: 550px;
	height: 300px;
	display: flex;
}

#turtle {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
	margin-left: 400px;
	text-align: center;
  }
  
#turtle td, #turtle th {
	border: 1px solid #dde0e8;
	padding: 5px;
	text-align: center;
  }
  
#turtle tr:nth-child(even){
	background-color: #aba8d2;
}
  
#turtle tr:hover {
	background-color: #e1e1ee;
}
  
#turtle th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4a71a0;
	color: white;
}



 

.gallery {
    background: url(https://images.pexels.com/photos/2887497/pexels-photo-2887497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
        center center/cover no-repeat;
    height: 150vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.gallery h2 {
    color: #030303;
    font-family: Amita;
    margin: 20px auto;
    width: 450px;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 10px double #69635e;
}

.contain img {
    width: 400px;
    height: 250px;
    margin: 10px;
    border: 10px solid #161615;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: 1s;
}

.contain img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.gif img{
	height: auto;
	width: 400px;
	margin-left: 500px;
}











#boxes{
	display:grid;
	grid-template-columns:2fr 2fr;
	grid-template-rows: 3fr 3fr 3fr;
	grid-gap: 40px;
	justify-content: baseline;
	align-content: center;
}

.column {
  float:center;
  width: 20%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #040904;
  width: 50%;
}

.button1:hover {
  background-color: #040904;
  color: white;
}

.button2 {
	background-color: rgb(162, 217, 225); 
	color: black; 
	border: 2px solid #040904;
	display: inline-block;
	padding: 20px 30px;
	text-align: center;
	text-decoration: none;
	color:rgb(10, 15, 14);
	border-radius: 15px;
	outline: none;
	transition: 0.3s;
	border: 2px solid transparent;
	font-size: 30px;
	cursor: pointer;
}

.button2 {
	width: 100%;
}
  
.button2:hover {
	background-color: #040904;
	color: rgb(148, 216, 214);
  }

.text-center {
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



input[type=submit]:hover {
  background-color: #45a049;
}



.extra-info {
    border: 2px solid #084557;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
.extra-info h3 {
    margin-top: 0;
    color: #084557;
}

.extra-info ul {
	box-sizing: border-box;
	display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
.extra-info li {
    display: list-item;
    text-align: center;
}






.product {
  width: 350px;
  height: 400px;
  
  position: absolute;
  top:0; right: 0; left: 0; bottom: 0;
  margin: auto;
  
  background: url("https://www.nahoku.com/cdn/shop/products/C0133505_193598.jpg?v=1669859430");
  background-color: black;
  background-size: cover;
  cursor: pointer;
  
  -webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	margin-top: 1500px;
  }

.product .overlay {
  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  
  background: rgba(248, 243, 243, 0.9);
  color: #090a0a;
  opacity: 0;
  transition: all 0.5s;
  
  font-family: 'Playfair Display', serif;
}


.product .items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.product .head {
  font-size: 30px;
  line-height: 40px;
  
  transform: translateY(40px);
  transition: all 0.7s;
  hr {
    display: block;
    width: 0;
    
    border: none;
    border-bottom: solid 2px ;
    
    position: absolute;
    bottom: 0; left:20px;
    
    transition: all .5s;
  }
}

.product .price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;  
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  .old {
    text-decoration: line-through;
    color: lighten(rgb(77, 77, 77),40%);
  }
}

.product .cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
  i {
    font-size: 16px;
  }
  span {
    margin-left: 10px;
  }
}

.product:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }
  
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
  & .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}


.product1 {
	width: 350px;
	height: 400px;
	
	position: absolute;
	top:0; right: 0; left: 0; bottom: 0;
	margin: auto;
	
	background: url("https://www.turtle-foundation.org/wp-content/uploads/tasche2.jpg");
	background-color: black;
	background-size: cover;
	cursor: pointer;
	
	-webkit-box-shadow: 0 0 5px #000;
	  box-shadow: 0 0 5px #000;
	  margin-top: 1500px;
	  margin-left: 50px;
	}
  
  .product1 .overlay {
	width: 100%;
	height: 100%;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	
	background: rgba(248, 243, 243, 0.9);
	color: #090a0a;
	opacity: 0;
	transition: all 0.5s;
	
	font-family: 'Playfair Display', serif;
  }
  
  
  .product1 .items {
	padding-left: 20px;
	letter-spacing: 3px;
  }
  
  .product1 .head {
	font-size: 30px;
	line-height: 40px;
	
	transform: translateY(40px);
	transition: all 0.7s;
	hr {
	  display: block;
	  width: 0;
	  
	  border: none;
	  border-bottom: solid 2px ;
	  
	  position: absolute;
	  bottom: 0; left:20px;
	  
	  transition: all .5s;
	}
  }
  
  .product1 .price {
	font-size: 22px;
	line-height: 10px;
	font-weight: bold;  
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.7s;
	.old {
	  text-decoration: line-through;
	  color: lighten(rgb(77, 77, 77),40%);
	}
  }
  
  .product1 .cart {
	font-size: 12px;
	opacity: 0;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	transform: translateY(40px);
	transition: all 0.7s;
	i {
	  font-size: 16px;
	}
	span {
	  margin-left: 10px;
	}
  }
  
  .product1:hover .overlay {
	opacity: 1;
	& .head {
	  transform: translateY(0px);
	}
	
	& hr {
	  width: 75px;
	  transition-delay: 0.4s;
	}
	
	& .price {
	  transform: translateY(0px);
	  transition-delay: 0.3s;
	  opacity: 1;
	}
	
	& .cart {
	  transform: translateY(0px);
	  transition-delay: 0.6s;
	  opacity: 1;
	}
  }


  .product2 {
	width: 350px;
	height: 400px;
	
	position: absolute;
	top:0; right: 0; left: 0; bottom: 0;
	margin: auto;
	
	background: url("https://www.turtle-foundation.org/wp-content/uploads/schluessel_ind8.jpg");
	background-color: black;
	background-size: cover;
	cursor: pointer;
	
	-webkit-box-shadow: 0 0 5px #000;
	  box-shadow: 0 0 5px #000;
	  margin-top: 1500px;
	  margin-left: 1100px;
	  margin-right: 50px;
	}
  
  .product2 .overlay {
	width: 100%;
	height: 100%;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	
	background: rgba(248, 243, 243, 0.9);
	color: #090a0a;
	opacity: 0;
	transition: all 0.5s;
	
	font-family: 'Playfair Display', serif;
  }
  
  
  .product2 .items {
	padding-left: 20px;
	letter-spacing: 3px;
  }
  
  .product2 .head {
	font-size: 30px;
	line-height: 40px;
	
	transform: translateY(40px);
	transition: all 0.7s;
	hr {
	  display: block;
	  width: 0;
	  
	  border: none;
	  border-bottom: solid 2px ;
	  
	  position: absolute;
	  bottom: 0; left:20px;
	  
	  transition: all .5s;
	}
  }
  
  .product2 .price {
	font-size: 22px;
	line-height: 10px;
	font-weight: bold;  
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.7s;
	.old {
	  text-decoration: line-through;
	  color: lighten(rgb(77, 77, 77),40%);
	}
  }
  
  .product2 .cart {
	font-size: 12px;
	opacity: 0;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	transform: translateY(40px);
	transition: all 0.7s;
	i {
	  font-size: 16px;
	}
	span {
	  margin-left: 10px;
	}
  }
  
  .product2:hover .overlay {
	opacity: 1;
	& .head {
	  transform: translateY(0px);
	}
	
	& hr {
	  width: 75px;
	  transition-delay: 0.4s;
	}
	
	& .price {
	  transform: translateY(0px);
	  transition-delay: 0.3s;
	  opacity: 1;
	}
	
	& .cart {
	  transform: translateY(0px);
	  transition-delay: 0.6s;
	  opacity: 1;
	}
  }


  
  .product3 {
	width: 350px;
	height: 400px;
	
	position: absolute;
	top:0; right: 0; left: 0; bottom: 0;
	margin: auto;
	
	background: url("https://ih1.redbubble.net/image.3124582809.9068/ssrco,slim_fit_t_shirt,womens,101010:01c5ca27c6,front,square_product,600x600.jpg");
	background-color: black;
	background-size: cover;
	cursor: pointer;
	
	-webkit-box-shadow: 0 0 5px #000;
	  box-shadow: 0 0 5px #000;
	  margin-top: 2000px;
	  margin-left: 1100px;
	  margin-right: 50px;
	}
  
  .product3 .overlay {
	width: 100%;
	height: 100%;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	
	background: rgba(248, 243, 243, 0.9);
	color: #090a0a;
	opacity: 0;
	transition: all 0.5s;
	
	font-family: 'Playfair Display', serif;
  }
  
  
  .product3 .items {
	padding-left: 20px;
	letter-spacing: 3px;
  }
  
  .product3 .head {
	font-size: 30px;
	line-height: 40px;
	
	transform: translateY(40px);
	transition: all 0.7s;
	hr {
	  display: block;
	  width: 0;
	  
	  border: none;
	  border-bottom: solid 2px ;
	  
	  position: absolute;
	  bottom: 0; left:20px;
	  
	  transition: all .5s;
	}
  }
  
  .product3 .price {
	font-size: 22px;
	line-height: 10px;
	font-weight: bold;  
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.7s;
	.old {
	  text-decoration: line-through;
	  color: lighten(rgb(77, 77, 77),40%);
	}
  }
  
  .product3 .cart {
	font-size: 12px;
	opacity: 0;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	transform: translateY(40px);
	transition: all 0.7s;
	i {
	  font-size: 16px;
	}
	span {
	  margin-left: 10px;
	}
  }
  
  .product3:hover .overlay {
	opacity: 1;
	& .head {
	  transform: translateY(0px);
	}
	
	& hr {
	  width: 75px;
	  transition-delay: 0.4s;
	}
	
	& .price {
	  transform: translateY(0px);
	  transition-delay: 0.3s;
	  opacity: 1;
	}
	
	& .cart {
	  transform: translateY(0px);
	  transition-delay: 0.6s;
	  opacity: 1;
	}
  }


  .product4 {
	width: 350px;
	height: 400px;
	
	position: absolute;
	top:0; right: 0; left: 0; bottom: 0;
	margin: auto;
	
	background: url("https://www.elizabethscarlett.com/cdn/shop/products/cobalt-baby-turtle-conservation-velvet-coin-purse-elizabethscarlett.com-9.jpg?v=1680511174");
	background-color: black;
	background-size: cover;
	cursor: pointer;
	
	-webkit-box-shadow: 0 0 5px #000;
	  box-shadow: 0 0 5px #000;
	  margin-top: 2000px;
	  margin-left: 600px;
	  margin-right: 500px;
	}
  
  .product4 .overlay {
	width: 100%;
	height: 100%;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	
	background: rgba(248, 243, 243, 0.9);
	color: #090a0a;
	opacity: 0;
	transition: all 0.5s;
	
	font-family: 'Playfair Display', serif;
  }
  
  
  .product4 .items {
	padding-left: 20px;
	letter-spacing: 3px;
  }
  
  .product4 .head {
	font-size: 30px;
	line-height: 40px;
	
	transform: translateY(40px);
	transition: all 0.7s;
	hr {
	  display: block;
	  width: 0;
	  
	  border: none;
	  border-bottom: solid 2px ;
	  
	  position: absolute;
	  bottom: 0; left:20px;
	  
	  transition: all .5s;
	}
  }
  
  .product4 .price {
	font-size: 22px;
	line-height: 10px;
	font-weight: bold;  
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.7s;
	.old {
	  text-decoration: line-through;
	  color: lighten(rgb(77, 77, 77),40%);
	}
  }
  
  .product4 .cart {
	font-size: 12px;
	opacity: 0;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	transform: translateY(40px);
	transition: all 0.7s;
	i {
	  font-size: 16px;
	}
	span {
	  margin-left: 10px;
	}
  }
  
  .product4:hover .overlay {
	opacity: 1;
	& .head {
	  transform: translateY(0px);
	}
	
	& hr {
	  width: 75px;
	  transition-delay: 0.4s;
	}
	
	& .price {
	  transform: translateY(0px);
	  transition-delay: 0.3s;
	  opacity: 1;
	}
	
	& .cart {
	  transform: translateY(0px);
	  transition-delay: 0.6s;
	  opacity: 1;
	}
  }

  .product5 {
	width: 350px;
	height: 400px;
	
	position: absolute;
	top:0; right: 0; left: 0; bottom: 0;
	margin: auto;
	
	background: url("https://www.turtle-foundation.org/wp-content/uploads/Thermosflasche1-1.jpg");
	background-color: black;
	background-size: cover;
	cursor: pointer;
	
	-webkit-box-shadow: 0 0 5px #000;
	  box-shadow: 0 0 5px #000;
	  margin-top: 2000px;
	  margin-left: 50px;
	  margin-right: 500px;
	}
  
  .product5 .overlay {
	width: 100%;
	height: 100%;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	
	background: rgba(248, 243, 243, 0.9);
	color: #090a0a;
	opacity: 0;
	transition: all 0.5s;
	
	font-family: 'Playfair Display', serif;
  }
  
  
  .product5 .items {
	padding-left: 20px;
	letter-spacing: 3px;
  }
  
  .product5 .head {
	font-size: 30px;
	line-height: 40px;
	
	transform: translateY(40px);
	transition: all 0.7s;
	hr {
	  display: block;
	  width: 0;
	  
	  border: none;
	  border-bottom: solid 2px ;
	  
	  position: absolute;
	  bottom: 0; left:20px;
	  
	  transition: all .5s;
	}
  }
  
  .product5 .price {
	font-size: 22px;
	line-height: 10px;
	font-weight: bold;  
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.7s;
	.old {
	  text-decoration: line-through;
	  color: lighten(rgb(77, 77, 77),40%);
	}
  }
  
  .product5 .cart {
	font-size: 12px;
	opacity: 0;
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	transform: translateY(40px);
	transition: all 0.7s;
	i {
	  font-size: 16px;
	}
	span {
	  margin-left: 10px;
	}
  }
  
  .product5:hover .overlay {
	opacity: 1;
	& .head {
	  transform: translateY(0px);
	}
	
	& hr {
	  width: 75px;
	  transition-delay: 0.4s;
	}
	
	& .price {
	  transform: translateY(0px);
	  transition-delay: 0.3s;
	  opacity: 1;
	}
	
	& .cart {
	  transform: translateY(0px);
	  transition-delay: 0.6s;
	  opacity: 1;
	}
  }
